<template>
    <div class="guestmenu">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#/" data-target="mobile-demo" class="sidenav-trigger show-on-large"><span class="ti ti-menu"></span></a>
                    <a href="#/" class="brand-logo left">soluNotion</a>
                    
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#/" v-on:click.prevent="GoHome" class="sidenav-close"> <span class="ti ti-home"></span> Home</a></li>
                        <li><a href="#/ourwork" v-on:click.prevent="OurWork" class="sidenav-close"> <span class="ti ti-briefcase"></span> Our Work</a></li>
                        <!-- <li><a href="#" v-on:click.prevent="OurServices" class="sidenav-close">Our Services</a></li> -->
                        <li><a href="#/contact" v-on:click.prevent="ContactPage" class="sidenav-close"> <span class="ti ti-comment"></span> Contact</a></li>
                        <li><a href="#/about" v-on:click.prevent="AboutPage" class="sidenav-close"> <span class="ti ti-info-alt"></span> About</a></li>
                    </ul>
                    
                </div>
            </nav>          
        </div>
        <ul class="sidenav" id="mobile-demo">
            <div class="row">
                <div class="col s6 brand-logo left">
                    {{app_name}}
                </div>
                <div class="col s6 close_nav right">
                    <a class="right-align sidenav-close" href="#">
                        <span class="ti ti-arrow-left"></span> close
                    </a>
                </div>
            </div>
            <li><a href="#" v-on:click.prevent="GoHome" class="sidenav-close"> <span class="ti ti-home"></span> Home</a></li>
            <li><a href="#" v-on:click.prevent="OurWork" class="sidenav-close"> <span class="ti ti-briefcase"></span> Our Work</a></li>
            <!-- <li><a href="#" v-on:click.prevent="OurServices" class="sidenav-close">Our Services</a></li> -->
            <li><a href="#" v-on:click.prevent="ContactPage" class="sidenav-close"> <span class="ti ti-comment"></span> Contact</a></li>
            <li><a href="#" v-on:click.prevent="AboutPage" class="sidenav-close"> <span class="ti ti-info-alt"></span> About</a></li>
        </ul>
    </div>
</template>
<script>
//import MainBase from "@/services/controller/MainBase.js";
import GuestBase from '@/services/controller/GuestBase.js';
	
export default {
    name: "guestmenu",
    components: {
    
    },

    data: function(){
        return{
            app_name: this.$appName,
        };
    },
    mounted: function(){
        M.AutoInit();
        
    },
    methods:{
        GoHome: function(){
            //GuestBase.getHomePg();
            this.$router.push('/');
        },
        ContactPage: function(){
            //alert("Hello i am going to contact");
            this.$router.push('contact');
        },
        OurWork: function(){
            this.$router.push('ourwork');

        },
        AboutPage: function(){

            this.$router.push('about');
            //GuestBase.getAboutPg();
            //this.GuestBase.getAboutPage();
        },
        CategoriesPage: function(){
            this.$router.push('categories');
        },
        CreateCategory: function(){
            this.$router.push('createcategory');
        },
        NewPost: function(){
            this.$router.push('newpost');
        },
        AllPosts: function(){
            this.$router.push('allposts');
        },
        Dashboard: function(){
            this.$router.push('dashboard');
        },
        ViewUsers: function(){
            this.$router.push('viewuers');
        },
        CreateUser: function(){
            this.$router.push('createuser');
        },
        OurServices: function(){
            this.$router.push('services');
        }
    }
};
</script>
<style lang="scss" scoped>
@import "@/assets/plugins/materialize/sass/materialize.scss";
    nav{
        .nav-wrapper{
            color: $secondary-color;
            background-color: $primary-color;
            padding-right: 30px;
            a {
                color: #fff;
                font-size: 16px;
            }
        }

    }

    .sidenav{
        background-color: #fff !important;
        .row:nth-child(1){
            border-bottom: solid 1px $primary-color;
            padding-bottom: 20px;
            margin-bottom: 0px;
        }
        .brand-logo{
            color: $primary-color;
            font-weight: bold;
            padding-top: 20px;
        }
        .close_nav{
            font-size: 15px;
            padding-top: 20px;
            text-align: right;
            a{
                color: $primary-color;
            }
            span{
                font-size: 10px;
            }
        }
        .collapsible{
            margin-left: 10px;
        }
        .close_nav a:hover{
            background-color: #fff;
            color: $primary-color;
        }
        h2{
            color: #fff;
        }
        text-align: left;
        .background{
            background-color: #0087E2;
        }
        li a{
            color: #333;
            font-size: 15px;
            padding-left: 12px;
            font-weight: 300;
            //text-shadow: 0.5px 0.5px 0px rgba(0,0,0,0.3);
        }

        li a:hover{
            background-color: lighten($primary-color, 40%);
            color: $primary-color;
            font-weight: bold;
            font-size: 16px;
        }
    }
</style>