<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="We carryout the Business of Providing General Services to Clients. Hit Our Work Option to see some of our selected projects.">
    <link rel="icon" href="<%= BASE_URL %>favicon2.ico">
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,700" rel="stylesheet">
    <link rel='stylesheet' href="<%= BASE_URL %>plugin/themify/themify-icons.css">
    <link rel='stylesheet' href="<%= BASE_URL %>plugin/animate/animate.css">
    <link rel='stylesheet' href="<%= BASE_URL %>plugin/materialize/materialize.min.css">
    <title>solunotion</title>
    <style>
      .btn-flat:hover{
        background-color:aliceblue !important;
      }
      .swal-modal{
        margin-top: -250px;
        text-align: center !important;
      }

      .browser-default{
        margin-bottom: 10px !important;
      }
      .table_row{
        overflow: auto;
      }
      
      table{
        min-width: 500px !important;
      }

      table th{
        padding: 0px !important;
      }

      table tr td{
        padding: 3px !important;
        border-bottom: 1px solid #000 !important;
      }
    </style>
  </head>
  <body>
      <script src="<%= BASE_URL %>plugin/materialize/materialize.min.js"></script>
      <script type="text/javascript" src="<%= BASE_URL %>plugin/sweetalert/sweetalert.min.js"></script>
      <!--script src="<%= BASE_URL %>plugin/axios/axios.min.js"></script-->
    <noscript>
      <strong>We're sorry but solunotion doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
