<template>
	<div class="about">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 box2">
					<h2>ABOUT US</h2>
					<p>
						We at SoluNotion stand out as a company to ensure we provide quality and affordable services. We are committed to helping your brand stand out in a  crowded market, against a sea of hungry competitors.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col s2 m6 box4">
					&nbsp;
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "about",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
			};
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		.card{
			.card-image{
				max-height: 250px;
				height: 100%;
			}
			.card-reveal{
				background-color: lighten($primary-color, 50%)
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
		}
		.box2{
			text-align: left;
			h2{
			font-weight: bold;
			color: $secondary-color;
			}
		}
		.box3{
			text-align: left;
			h2{
			font-size: 150px;
			}
		}

		.box4{
			text-align: right;
			h2{
			font-weight: bold;
			}
		}

		.box5{
			text-align: right;
		}

		.box6{
			text-align: left;
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
	}
</style>

