<template>
	<div class="ourwork">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12">
					<label>All Post:</label>
					<select class="browser-default" v-model="selected_cat" v-on:change="GetWorkByCat(selected_cat)">
						<option value="0">-- All Post --</option>
						<option :value="all_cat.id" v-for="(all_cat, index) in parent_cat" :key="index"> {{all_cat.title}}</option>
					</select>
				</div>
			</div>
			<div v-show="doc_ready">
				<div v-if="av_data.status">
					<div v-for="(project, index) in projects" :key="index">
						<div class="row box2">
							<div class="col s12 m8">
								<h5>{{project.post_title}}</h5>
							</div>
							<div class="col s12 m4 info-box right">
								<label>{{ new Date(project.post_date).toLocaleDateString(undefined, dateformat)}}</label> &nbsp; | &nbsp;
								<label>
									<a href="#" v-on:click.prevent="GetWorkByCat(project.post_category_id)">
										<i class="ti ti-folder"></i> {{project.post_category}}
									</a>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m8">
								<span v-html="project.post_desc"></span>
							</div>
						</div>
						<div class="row">
							<div class="col s7 m8">
								<div class="waves-effect waves-block waves-light">
									<img :src=" base_img_url + project.post_img">
								</div>
							</div>
							<div class="col s5 m4 right">
								<label><span class="ti ti-settings"></span> Options</label><br/>
								<a href="#" v-on:click.prevent="EditPost(project)"> 
									<span class="ti ti-pencil"></span> Edit
								</a> <br/>
								<a href="#" v-on:click.prevent="DeletePost(project)"> 
									<span class="ti ti-trash"></span> Delete
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<hr/>
							</div>
						</div>
					</div>
				
					<div class="row" v-if="Number(projects.length) > Number(pcount)">
						<div class="col s12 center">
							<button class="btn" v-on:click.prevent="SeeMore">
								See more <span class="ti ti-arrow-down"></span>
							</button>
						</div>
					</div>
				</div>
				<div v-if="!av_data.status">
					<div class="row">
						<div class="col s12">
							{{av_data.error_msg}}
						</div>
					</div>
				</div>
			</div>
			<div v-show="!doc_ready">
				<div class="row">
					<div class="col s12">
						{{ this.$loadingText }}
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	import CKEditor from '@ckeditor/ckeditor5-vue';    
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "allposts",
		components: {
			MainMenu, MainFooter, ckeditor: CKEditor.component
		},
		data: function(){
			return{
				app_name: this.$appName,
				parent_cat: "",
				all_actions:[
					{id: "1", title: "Edit"},
					{id: "2", title: "Delete"}
				],
				selected_action: "0",
				selected_cat: "0",
				new_post: {
					title: "",
					desc: "",
					img: "",
					cat_id: ""
				},
				editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                    //toolbar: [ 'bold', 'italic', '|', 'link' ]
				},
				//start here
				
				projects: "",
				v_page_nos: "1",
				new_v_page_nos: "1",
				pcount: "0",
				last_post: "1",
				last_cat: "0",
				base_img_url: "",
				dateformat: {year: 'numeric', month: 'short', day: 'numeric'},
				av_data: {
					status: true,
					error_msg: "Sorry no data available"
				},
				doc_ready: false
			};
		},
		created: function(){
			if(!(MainBase.adminLoggedIn())){
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}else{
				this.getWorkPgData();
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			

			let done_ = MainBase.getParentCategories();
			done_.then(response=>{
				if(response.code == 200){
					this.parent_cat = response.data.cat;
				}
				//MainBase.myConsole("this is your parent categories", response);
				//return response.data;
			});
		},
		methods: {
			...mapActions(['logoutUser_A']),
			...mapActions(['updateEditData_A']),
			CreatePost: function(){
				let post_v = this.new_post;
				if(post_v.img.length > 5){
					if(post_v.cat_id > 0){
						let done_ = MainBase.createPost(post_v);
						done_.then(response=>{
							if(response.code == 200){
								MainBase.alert("success", response.message);
								MainBase.scrollTo("top");
								let objj = this.new_post;
								for (const key in objj) {
									if (objj.hasOwnProperty(key)) {
										object[key] = "";		
									}
								}
							}
						});
					}else{
						MainBase.alert("info", "You need to select a category");
					}
				}else{
					MainBase.alert("info", "You need to provide a valid image");
				}
				//alert("Yea, i want to create post");
			},
			getWorkPgData: function(){
				let m_data ={
					g_from: this.last_post,
					v_page_nos: this.v_page_nos
				};
				this.doc_ready = false;

				let r_back = MainBase.getWorkPg(m_data);
				r_back.then(response => {
					if(response.code == 200){
						//MainBase.scrollTo("top");
						this.av_data.status = true;
						this.pcount = response.count;
						this.projects = response.data.works;
						this.base_img_url = response.data.base_img_url;
						this.last_post = response.last_post;
						
						this.v_page_nos = Number(m_data.v_page_nos) + 1;
						this.doc_ready = true;
						
						let get_cats = MainBase.getParentCategories();
						get_cats.then(response=>{
							if(response.code == 200){
								this.parent_cat = response.data.cat;
							}
						});
					}
					if(response.status == "error"){
						this.av_data.status = false;
						this.av_data.error_msg = response.message;
						this.v_page_nos = '1';
						this.$router.push("/");
						this.doc_ready = true;
					}
				});
			},
			GetWorkByCat: function(s_cat){
				
					//var new_
				
				/* if(parseInt(this.last_cat) == parseInt(s_cat)){
					this.last_post = "1";
					this.new_v_page_nos = parseInt(this.v_page_nos) + 1;
				}else{
					this.last_post = "1";
				} */
				this.last_post = "1";
				this.selected_cat = s_cat;
				let m_data ={
					g_from: this.last_post,
					cat_id: Number(s_cat),
					v_page_nos: this.new_v_page_nos
				};
				this.doc_ready = false;
				let cat_result = MainBase.getWorkByCat(m_data);
				cat_result.then(response => {
					if(response.code == 200){
						MainBase.scrollTo("top");
						this.av_data.status = true;
						this.pcount = response.count;
						this.projects = response.data.works;
						this.base_img_url = response.data.base_img_url;
						this.last_post = response.last_post;
						this.doc_ready = true;
						//this.last_cat = response.selected_cat;

						if(parseInt(this.last_cat) == parseInt(response.selected_cat)){
							this.v_page_nos = Number(m_data.v_page_nos);
						}else{
							this.v_page_nos = "1";
							this.last_cat = response.selected_cat;
						}
						//MainBase.scrollTo("top");
					}
					if(response.code == 400){
						this.av_data.status = false;
						this.av_data.error_msg = response.message;
						this.v_page_nos = '1';
						this.new_v_page_nos = '1';
						this.last_post = '1';
						this.doc_ready = true;
						//console.log("error", response.message);
						//this.$router.push("/");
					}
				});
			},
			EditPost: function(s_data){
				this.updateEditData_A(s_data).then(response=>{
					this.$router.push("editpost");
				});
			},
			DeletePost: function(s_data){
				swal({
					title: "Are you sure ?",
					text: "Deleting post means you won't be able to see post again, are you sure you want to continue with the delete ?", 
					icon: "info",
					buttons: true,
					buttons: ['No', 'Yes Delete Post'],
					dangerMode: true
				})
				.then((willDelete) => {
					if (willDelete) {
						let ddata = {
							post_id: s_data.post_id
						};
						let done_ = MainBase.deletePost(ddata);
						done_.then(response=>{
							if(response.code == 200){
								MainBase.alert("success",response.message);
								this.getWorkPgData();
							}
							if(response.code == 400){
								MainBase.alert("error", response.message);
							}
							//MainBase.myConsole("this is your parent categories", response);
							//return response.data;
						});
					} else {
						this.selected_action = "0"; //swal("Your imaginary file is safe!");
					}
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		.row{
			margin-bottom: 5px;
			.date{
				color: lighten($secondary-color, 30%);
			}
		}
		min-height: 500px;
		hr{
			color: #fff;
		}
        img{
			max-height: 250px;
		    height: 100%;
            max-width: 170px;
			width: 100% !important;
			margin-left: -5px;
        }
		color: $secondary-color;
		text-align: left;
		
		.box2{
            margin-bottom: 0px;
			text-align: left;
			h5{
                font-weight: bold;
                color: $secondary-color;
				margin-top: 0px;
                //margin: 0px;
			}

			.info-box{
				p{
					//padding-top: 20px;
					font-size: 14px;
					color: lighten($secondary-color, 30%);
				}
			}
		}
	}
</style>

