<template>
	<div class="categories">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12">
					<label>
						<h4><i class="ti ti-link"></i> Categories</h4>
					</label>
				</div>
				<div class="col s12 table_row">
					<table class="highlight striped">
						<thead>
						<tr>
							<th>Title</th>
							<th>
								Description
							</th>
							<th>
								Slug
							</th>
							<th>
								<span class="ti ti-settings"></span>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(cat, index) in cats" :key="index">
							<td>{{ cat.title}}</td>
							<td v-html="cat.desc"></td>
							<td>{{ cat.slug}}</td>
							<td>
								<label>
									<a href="#/editmodal" class="waves-effect" v-on:click.prevent="EditCategory(cat)"> Edit</a>
								</label><br/>
								<label>
									<a href="#" class="waves-effect red-text" v-on:click.prevent="DeleteCat(cat)"> Delete</a>
								</label>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "categories",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				cats: ""
			};
		},
		created: function(){
			if(!(MainBase.adminLoggedIn())){
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}else{
				this.getCats();
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);

			
			let m_elem = document.querySelectorAll('.modal');
			M.Modal.init(m_elem, {dismissible: false})
			
			
		},
		methods: {
			...mapActions(['logoutUser_A']),
			...mapActions(['updateEditData_A']),
			getCats: function(){
				let r_back = MainBase.getCategories();
				r_back.then(response => {
					if(response.code == 200){
						this.cats = response.data.cat;
					}
					if(response.code == 400){
						
					}
				});
			},
			EditCategory: function(cat){
				this.updateEditData_A(cat).then(response=>{
					this.$router.push("editcategory");
				});
				/* console.log("this is cat", cat);
				this.edit_cat.title = cat.title;
				this.edit_cat.desc = cat.desc;
				this.edit_cat.parent_cat_id = cat.parent_cat_id;
				this.edit_cat.slug = cat.slug;
				this.edit_cat.id = cat.id;
				MainBase.openModal("editmodal"); */
			},
			CloseModal: function(modal){
				MainBase.closeModal(modal);
			},
			
			DeleteCat: function(cat){
				swal({
					title: "Are you sure ?",
					text: "Deleting category means you won't be able to see category again, are you sure you want to continue with the delete ?", 
					icon: "info",
					buttons: true,
					buttons: ['No', 'Yes Delete Category'],
					dangerMode: true
				})
				.then((willDelete) => {
					if (willDelete) {
						let ddata = cat;
						let done_ = MainBase.deleteCat(ddata);
						done_.then(response=>{
							if(response.code == 200){
								MainBase.alert("success", response.message);
								this.getCats();
							}

							if(response.code == 400){
								MainBase.alert("error", response.message);
							}
							//MainBase.myConsole("this is your parent categories", response);
							//return response.data;
						});
					} else {
						this.selected_action = "0"; //swal("Your imaginary file is safe!");
					}
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		text-align: left;
		.card{
			.card-image{
				max-height: 250px;
				height: 100%;
			}
			.card-reveal{
				background-color: lighten($primary-color, 50%)
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
		}
		.box2{
			text-align: left;
			h2{
			font-weight: bold;
			color: $secondary-color;
			}
		}
		.box3{
			text-align: left;
			h2{
			font-size: 150px;
			}
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
		.post_img{
            max-width: 100px;
            width: 100%;
            height: 100px;
        }
		.collapsible-header{
            h6{
                font-weight: bold;
				color: $primary-color;
            }
        }
	}
</style>

