<template>
	<div class="companies">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 m6 box2">
					<h2>COMPANIES</h2>
					<p>
                        Brands we have worked with
                    </p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://scontent.fabv4-1.fna.fbcdn.net/v/t1.0-9/50308254_2421421087928609_1148577368525242368_n.jpg?_nc_cat=104&_nc_ht=scontent.fabv4-1.fna&oh=7bd2b2b504e0ffa9bf6706d6135e01bc&oe=5CBD039B">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">
								Gigantiz <span class="ti ti-more right activator"></span>
							</span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">
								Gigantiz <i class="ti ti-close right"></i>
							</span>
							<p>Social Media Promotions for Gigantiz Kitchens.</p>
							<a href="#/ourwork">See More</a><br/><br/>
							<a href="#">
								<i class="ti ti-pencil"></i> Edit
							</a>
						</div>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://scontent.fabv4-1.fna.fbcdn.net/v/t1.0-9/22815441_140988923200128_1182050965604206404_n.jpg?_nc_cat=101&_nc_ht=scontent.fabv4-1.fna&oh=fb86804aff602334f865e1e80f1dd9a2&oe=5CF805FA">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">
								SunTotal Clean Energy <span class="ti ti-more right activator"></span>
							</span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">
								SunTotal Clean Energy <i class="ti ti-close right"></i>
							</span>
							<p>UI / UX Design . Web Development.</p>
							<a href="#/ourwork">See More</a>
						</div>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://scontent.fabv4-1.fna.fbcdn.net/v/t1.0-9/51162339_2020025271635171_4338346212286529536_n.jpg?_nc_cat=111&_nc_ht=scontent.fabv4-1.fna&oh=e759110305af5147ec9c3212cf5e757f&oe=5CB3BD40">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">
								Praiz Photoz <span class="ti ti-more right activator"></span>
							</span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">
								Praiz Photoz <i class="ti ti-close right"></i>
							</span>
							<p>Logo Design . Branding</p>
							<a href="#/ourwork">See More</a>
						</div>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://scontent.fabv4-1.fna.fbcdn.net/v/t1.0-9/50667371_2020028874968144_1714583002199097344_n.jpg?_nc_cat=108&_nc_ht=scontent.fabv4-1.fna&oh=056e4d1bc97b04e3820f89b92f78c24c&oe=5CBD35B2">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">
								EasyLink Concepts <span class="ti ti-more right activator"></span>
							</span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">
								EasyLink Concept <i class="ti ti-close right"></i>
							</span>
							<p>Logo Design . Branding</p>
							<a href="#/ourwork">See More</a>
						</div>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://scontent.fabv4-1.fna.fbcdn.net/v/t1.0-9/50921763_2020040901633608_5595393357829373952_n.jpg?_nc_cat=105&_nc_ht=scontent.fabv4-1.fna&oh=101bee2e1f0fcd84a3e7739e6e180c95&oe=5CBDD133">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">
								Chen Initiative <span class="ti ti-more right activator"></span>
							</span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">
								Chen Initiative <i class="ti ti-close right"></i>
							</span>
							<p>UI/UX Design. Web Development</p>
							<a href="#/ourwork">See More</a>
						</div>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://scontent.fabv4-1.fna.fbcdn.net/v/t1.0-9/50924445_2020047788299586_3316182117968248832_n.png?_nc_cat=108&_nc_ht=scontent.fabv4-1.fna&oh=98854d43977ed7b7dfc4ebd318b760b1&oe=5CC4FE52">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">
								Still Water Publications <span class="ti ti-more right activator"></span>
							</span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">
								Still Water Publications <i class="ti ti-close right"></i>
							</span>
							<p>UI/UX Design. Web Development</p>
							<a href="#/ourwork">See More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "companies",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
			};
		},
		mounted: function(){
			M.AutoInit();
			
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		.card{
			.card-image{
				max-height: 250px;
				height: 100%;
			}
			.card-reveal{
				background-color: lighten($primary-color, 50%)
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
		}
		.box2{
			text-align: left;
			h2{
			font-weight: bold;
			color: $secondary-color;
			}
		}
		.box3{
			//background-color: $primary-color;
			color: $primary-color;
			text-align: left;
			h6{
				font-weight: bold;
			
			}
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
		.post_img{
            max-width: 100px;
            width: 100%;
            height: 100px;
        }
		.collapsible-header{
            h6{
                font-weight: bold;
				color: $primary-color;
            }
        }
	}
</style>

