<template>
	<div class="companywork">
		<MainMenu/>
		<div class="container">
			<div class="row box2">
				<div class="col s8">
					<h2>Gigantiz</h2>
				</div>
				<div class="col s4 box3">
				&nbsp;
				</div>
			</div>
			<div class="row">
                <div class="col s12 m8 box4">
                    <p>We carryout the Business of Providing General Services to Clients. Here are some of our works.</p>
                </div>
                <div class="col s12 m4 right">
                    <a href="#">
                        <i class="ti ti-link"></i> Web Development
                    </a> &nbsp; | &nbsp;
                    <a href="#">
                        <i class="ti ti-pencil"></i> Edit
                    </a>
                </div>
			</div>
            <div class="row">
				<div class="col s12 m4">
					<div class="card">
						<div class=" waves-effect waves-block waves-light">
							<img class="activator" src="https://scontent.fabv4-1.fna.fbcdn.net/v/t1.0-9/50308254_2421421087928609_1148577368525242368_n.jpg?_nc_cat=104&_nc_ht=scontent.fabv4-1.fna&oh=7bd2b2b504e0ffa9bf6706d6135e01bc&oe=5CBD039B">
						</div>
					</div>
				</div>
                <div class="col s12 m4">
					<div class="card">
						<div class=" waves-effect waves-block waves-light">
							<img class="activator" src="https://scontent.fabv4-1.fna.fbcdn.net/v/t1.0-9/22815441_140988923200128_1182050965604206404_n.jpg?_nc_cat=101&_nc_ht=scontent.fabv4-1.fna&oh=fb86804aff602334f865e1e80f1dd9a2&oe=5CF805FA">
						</div>
					</div>
				</div>
                <div class="col s12 m4">
					<div class="card">
						<div class=" waves-effect waves-block waves-light">
							<img class="activator" src="https://scontent.fabv4-1.fna.fbcdn.net/v/t1.0-9/51162339_2020025271635171_4338346212286529536_n.jpg?_nc_cat=111&_nc_ht=scontent.fabv4-1.fna&oh=e759110305af5147ec9c3212cf5e757f&oe=5CB3BD40">
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "companywork",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
			};
		},
		mounted: function(){
			M.AutoInit();
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;

        img{
            max-height: 350px;
		    height: auto;
            max-width: 300px;
            width: 100%;
        }
		.card{
			.card-reveal{
				background-color: lighten($primary-color, 50%)
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
		}
		.box2{
            margin-bottom: 0px;
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
                //margin: 0px;
			}
		}
		.box3{
			text-align: left;
			h2{
			font-size: 150px;
			}
		}

		.box4{
			text-align: left;
			h2{
			font-weight: bold;
			}
            p{
                margin: 0px;
            }
		}

		.box5{
			text-align: right;
		}

		.box6{
			text-align: left;
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
	}
</style>