<template>
	<div class="contact">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 box2">
					<h2>CONTACT US</h2>
					<p>
                        We would love to hear from you.<br/>
                        You can reach us through our email <a href="mailto:contact@solunotion.com">contact@solunotion.com</a><br/>
                        Call: <a href="tel:+2348180780508">+234 818 078 0508</a><br/><br/>
						
						You can also reach us through WhatsApp, 
						<a href="https://wa.me/2348180780508">
							say Hi here <span class="ti ti-comment"></span>
						</a>
                    </p>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "contact",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
			};
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		.card{
			.card-image{
				max-height: 250px;
				height: 100%;
			}
			.card-reveal{
				background-color: lighten($primary-color, 50%)
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
			a{
				color: $primary-color !important;
			}
		}
		.box2{
			text-align: left;
			h2{
			font-weight: bold;
			color: $secondary-color;
			}
		}
		.box3{
			text-align: left;
			h2{
			font-size: 150px;
			}
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
	}
</style>

