<template>
	<div class="createuser">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 box1">
					<div class="row">
                        <div class="col s12">
                            <h4><span class="ti ti-user"></span> Create User</h4>
                        </div>
                        <div class="input-field col s12 m6">
                            <input placeholder="Enter User fullname" id="fullname" v-model="new_user.fullname" type="text" class="validate"/>
                            <label for="fullname" class="active">Fullname</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input placeholder="Enter User Email" id="email" v-model="new_user.email" type="email" class="validate"/>
                            <label for="email" class="active">Email</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input placeholder="Enter User Phone" id="phone" v-model="new_user.phone" type="text" class="validate"/>
                            <label for="phone" class="active">Phone</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input placeholder="Enter User password" id="password" v-model="new_user.pword" type="text" class="validate"/>
                            <label for="password" class="active">Password</label>
                        </div>
						<div class="input-field col s12">
							<select  class="browser-default" type="text" name="parent_cat" v-model="new_user.role">
								<option value="0" selected="selected" >-- Select User Role --</option>
								<option :value="urole.role_id" v-for="(urole, index) in user_roles" :key="index">{{urole.role_title}}</option>>
                            </select>
						</div>
						<div class="col s12 m12">
							<button class="btn btn-large right" v-on:click.prevent="CreateUser">
								Create User
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "createuser",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				new_user:{
					fullname: "",
					email: "",
					phone: "",
					pword: "",
					img: "",
					role: 0
				},
				user_roles: ""
			};
		},
		mounted: function(){
			M.AutoInit();
			
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);

			let done_ = MainBase.getRoles();
			done_.then(response=>{
				if(response.code == 200){
					this.user_roles = response.data.roles;
				}
			});
		},
		methods: {
			CreateUser: function(){
				let ddata = this.new_user;
				if(ddata.fullname.length > 5){
					if(ddata.email.length > 11){
						if(ddata.phone.length > 10){
							if(ddata.pword.length > 5){
								if(!(ddata.role < 1)){
									console.log("this is ddata", ddata);
									let done_ = MainBase.createUser(ddata);
									done_.then(response=>{
										if(response.code == 200){
											MainBase.alert("success", response.message);
										}

										if(response.code == 400){
											MainBase.alert("error", response.message);
										}
										//MainBase.myConsole("this is your parent categories", response);
										//return response.data;
									});
								}else{
									MainBase.alert("error", "Please select a valid role for user");
								}
							}else{
								MainBase.alert("error", "Please provide a valid password at least 6 characters");
							}
						}else{
							MainBase.alert("error", "Please provide a valid phone");
						}
					}else{
						MainBase.alert("error", "Please provide a valid email");
					}
				}else{
					MainBase.alert("error", "Please provide a valid fullname");
				}
			},

		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
		}
	}
</style>

