<template>
	<div class="createcategory">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 box1">
					<div class="row">
                        <div class="col s12">
                            <h4><span class="ti ti-star"></span> Create Category</h4>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter Category Name" id="cat_name" v-model="new_cat.title" type="text" class="validate" v-on:input="GetSlug"/>
                            <label for="cat_name" class="active">Category Name</label>
                        </div>
                        <div class="input-field col s12">
                            <label for="cat_description" class="active">Description (optional)</label>
							<ckeditor :editor="editor" v-model="new_cat.desc" :config="editorConfig"></ckeditor>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter Category slug" id="cat_slug" type="text" class="validate" v-model="new_cat.slug" />
                            <label for="cat_slug" class="active">Slug</label>
                        </div>
                        <div class=" col s12">
                            <select  class="browser-default" type="text" name="parent_cat" v-model="new_cat.parent_cat_id">
								<option value="0" selected="selected" >-- Parent Category --</option>
								<option v-bind:key="parentcat.id" v-for="parentcat in parent_cat" :value="parentcat.id">{{parentcat.title}}</option>>
                            </select>
                        </div>
						<div class="col s12">
							<button class="btn btn-large right" v-on:click.prevent="CreateCategory">
								Create Category
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import CKEditor from '@ckeditor/ckeditor5-vue';    
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

	export default {
		name: "createcategory",
		components: {
			MainMenu, MainFooter, ckeditor: CKEditor.component
		},
		data: function(){
			return{
				app_name: this.$appName,
				new_cat:{
					title: "",
					slug: "",
					desc: "",
					parent_cat_id: "0"
				},
				parent_cat: "",
				editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                    //toolbar: [ 'bold', 'italic', '|', 'link' ]
                }
			};
		},
		mounted: function(){
			M.AutoInit();

			let done_ = MainBase.getParentCategories();
			done_.then(response=>{
				if(response.code == 200){
					this.parent_cat = response.data.cat;
				}
			});
		},
		methods: {
			CreateCategory: function(){
				let cat_v = this.new_cat;
				if(cat_v.title.length > 3){
					if(cat_v.slug.length > 3){
						cat_v.slug = this.new_cat.slug.replace(/ /g, "-");
						let done_ = MainBase.createCategory(cat_v);
						done_.then(response =>{
							let r_data = response;
							if(r_data.code == 200){
								MainBase.alert("success", r_data.message);
								
								this.new_cat.title = "";
								this.new_cat.slug = "";
								this.new_cat.desc = "";
								this.new_cat.parent_cat_id = 0;
							}

							if(r_data.code == 400){
								MainBase.alert("error", r_data.message);
							}
						});
					}else{
						swal({
							title: "Category Name too short",
							text: "Sorry Name too short",
							icon: "error"
						});
					}
				}else{
					swal({
						title: "Category name too short",
						text: "Sorry Name too short",
						icon: "error"
					});
				}
			},

			GetSlug: function (){
				let new_value = this.new_cat.title.toLowerCase();
				this.new_cat.slug = new_value.replace(/ /g, "-");
			},
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
		}
	}
</style>

