<template>
	<div class="editcategory">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 box1">
					<div class="row">
                        <div class="col s12">
                            <h4><span class="ti ti-pencil"></span> Edit Category</h4>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter Category Name" id="cat_name" v-model="edit_cat.title" type="text" class="validate" v-on:input="GetSlug"/>
                            <label for="cat_name" class="active">Category Name</label>
                        </div>
                        <div class="input-field col s12">
                            <label for="cat_description" class="active">Description (optional)</label>
                            <textarea v-html="edit_cat.desc" class="materialize-textarea"></textarea>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter Category slug" id="cat_slug" type="text" class="validate" v-model="edit_cat.slug" />
                            <label for="cat_slug" class="active">Slug</label>
                        </div>
                        <div class="col s12">
                            <select  class="browser-default" type="text" name="parent_cat" v-model="edit_cat.parent_cat_id">
                                <option value="0" selected="selected" >-- No Parent Category --</option>
                                <option v-bind:key="parentcat.id" v-for="parentcat in parent_cat" :value="parentcat.id">{{parentcat.title}}</option>
                            </select>
                        </div>
                        <div class="col s12 center">
                            <button class="btn" v-on:click.prevent="UpdateCategory">Update Category</button>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';
	export default {
		name: "editcategory",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
                app_name: this.$appName,
                edit_cat:{
                    id: "",
					title: "",
					slug: "",
					desc: "",
					parent_cat_id: "0"
				},
				parent_cat: ""
			};
        },
        computed: {
			...mapGetters({ edit_data: 'EDIT_DATA_G'}),
        },
        created: function(){
			if(MainBase.adminLoggedIn()){
				let dp_data = JSON.parse(localStorage.getItem('edit_data'));
				if(dp_data){
					this.updateEditData_A(dp_data);
					this.edit_cat.title = this.edit_data.title;
                    this.edit_cat.user_email = this.edit_data.slug;
                    this.edit_cat.desc = this.edit_data.desc;
                    this.edit_cat.parent_cat_id = this.edit_data.parent_cat_id;
                    this.edit_cat.slug = this.edit_data.slug;
                    this.edit_cat.id = this.edit_data.id;
				}else{
					this.$router.push('mydashboard');
				}
			}else{
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}
		},
		mounted: function(){
			M.AutoInit();
			
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);

			let done_ = MainBase.getParentCategories();
			done_.then(response=>{
				if(response.code == 200){
					this.parent_cat = response.data.cat;
				}
				//MainBase.myConsole("this is your parent categories", response);
				//return response.data;
			});
		},
		methods: {
            ...mapActions(['logoutUser_A']),
			...mapActions(['updateEditData_A']),
			GetSlug: function (){
				let new_value = this.edit_cat.title.toLowerCase();
				this.edit_cat.slug = new_value.replace(/ /g, "-");
			},
			UpdateCategory: function(){
				let sendd = this.edit_cat;
				let done_ = MainBase.updateCategory(sendd);
				done_.then(response =>{
					let r_data = response;
					if(r_data.code == 200){
						MainBase.alert("success", r_data.message);
					}

					if(r_data.code == 400){
						MainBase.alert("error", r_data.message);
					}
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
		}
	}
</style>