<template>
	<div class="edituser">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 box1">
					<div class="row">
                        <div class="col s12">
                            <h4><span class="ti ti-pencil"></span> Edit User</h4>
                        </div>
                        <div class="input-field col s12 m6">
                            <input placeholder="Enter User fullname" id="fullname" v-model="edit_user.user_fullname" type="text" class="validate"/>
                            <label for="fullname" class="active">Fullname</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input placeholder="Enter User Email" id="email" v-model="edit_user.user_email" type="email" class="validate"/>
                            <label for="email" class="active">Email</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input placeholder="Enter User Phone" id="phone" v-model="edit_user.user_phone" type="text" class="validate"/>
                            <label for="phone" class="active">Phone</label>
                        </div>
						<div class="input-field col s12 m6">
							<select  class="browser-default" type="text" name="parent_cat" v-model="edit_user.user_role_id">
								<option value="0" selected="selected" >-- Select User Role --</option>
								<option :value="urole.role_id" v-for="(urole, index) in user_roles" :key="index">{{urole.role_title}}</option>
                            </select>
						</div>
                        <div class="input-field col s12">
							<label for="password" class="active">Use when you want to change user password</label>
                            <input placeholder="Enter User password" id="password" v-model="edit_user.user_pwd" type="text" class="validate"/>
                        </div>
						<div class="col s12 center">
							<button class="btn btn-large" v-on:click.prevent="UpdateUser">
								Update User
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';
	export default {
		name: "edituser",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				edit_user:{
                    user_id: "",
					user_fullname: "",
					user_role_id: "",
					user_phone: "",
					user_pwd: "",
					user_email: ""
				},
				user_roles: ""
			};
        },
        computed: {
			...mapGetters({ edit_data: 'EDIT_DATA_G'}),
        },
        created: function(){
			if(MainBase.adminLoggedIn()){
				let dp_data = JSON.parse(localStorage.getItem('edit_data'));
				if(dp_data){
					this.updateEditData_A(dp_data);
					this.edit_user.user_fullname = this.edit_data.user_fullname;
                    this.edit_user.user_email = this.edit_data.user_email;
                    this.edit_user.user_phone = this.edit_data.user_phone;
                    this.edit_user.user_role_id = this.edit_data.user_role_id;
                    this.edit_user.user_id = this.edit_data.user_id;
				}else{
					this.$router.push('mydashboard');
				}
			}else{
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}
		},
		mounted: function(){
			M.AutoInit();
			
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);

			let done_ = MainBase.getRoles();
			done_.then(response=>{
				if(response.code == 200){
					this.user_roles = response.data.roles;
				}
			});
		},
		methods: {
            ...mapActions(['logoutUser_A']),
			...mapActions(['updateEditData_A']),
			
			UpdateUser: function(){
				let sendd = this.edit_user;
				let done_ = MainBase.updateUser(sendd);
				done_.then(response =>{
					let r_data = response;
					if(r_data.code == 200){
						MainBase.alert("success", r_data.message);
					}

					if(r_data.code == 400){
						MainBase.alert("error", r_data.message);
					}
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
		}
	}
</style>

