<template>
	<div class="editpost">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 box1">
					<div class="row">
                        <div class="col s12">
                            <h4><span class="ti ti-pencil"></span> Edit Post</h4>
                        </div>
						<div class="input-field col s12">
                            <input placeholder="Post Title" id="p_title" type="text" class="validate" v-model="new_post.title"/>
                            <label for="p_title" class="active">Post Title (optional)</label>
                        </div>
                        <div class="input-field col s12">
							<label class="active">Description (optional)</label>
							<ckeditor :editor="editor" v-model="new_post.desc" :config="editorConfig"></ckeditor>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter Image URL" id="p_img_url" type="text" class="validate" v-model="new_post.img"/>
                            <label for="p_img_url" class="active">Image URL (provide Google Drive image ID)</label>
                        </div>
                        <div class="input-field col s12">
							<select  class="browser-default" id="p_cat" type="text" name="parent_cat" v-model="new_post.cat_id">
								<option value="" selected="selected" >-- Choose Category --</option>
								<option value="">None</option>
								<option v-bind:key="parentcat.id" v-for="parentcat in parent_cat" :value="parentcat.id">{{parentcat.title}}</option>
                            </select>
                        </div>
						<div class="col s12 center">
							<button class="btn" v-on:click="UpdatePost">
								Update Post
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	import CKEditor from '@ckeditor/ckeditor5-vue';    
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "editpost",
		components: {
			MainMenu, MainFooter, ckeditor: CKEditor.component
		},
		data: function(){
			return{
				app_name: this.$appName,
				parent_cat: "",
				new_post: {
					title: "",
					desc: "",
					img: "",
					cat_id: "",
					post_id: ""
				},
				editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                    //toolbar: [ 'bold', 'italic', '|', 'link' ]
                },
			};
		},
		computed: {
			...mapGetters({ edit_data: 'EDIT_DATA_G'}),
		},
		created: function(){
			if(MainBase.adminLoggedIn()){
				let dp_data = JSON.parse(localStorage.getItem('edit_data'));
				if(dp_data){
					this.updateEditData_A(dp_data);
					this.new_post.title = this.edit_data.post_title;
					this.new_post.cat_id =this.edit_data.post_category_id;
					this.new_post.desc = this.edit_data.post_desc;
					this.new_post.img = this.edit_data.post_img;
					this.new_post.post_id = this.edit_data.post_id;

				}else{
					this.$router.push('mydashboard');
				}
			}else{
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}
		},
		mounted: function(){
			M.AutoInit();
			MainBase.scrollTo("top");

			let done_ = MainBase.getParentCategories();
			done_.then(response=>{
				if(response.code == 200){
					this.parent_cat = response.data.cat;
				}
				//MainBase.myConsole("this is your parent categories", response);
				//return response.data;
			});
		},
		methods: {
			...mapActions(['logoutUser_A']),
			...mapActions(['updateEditData_A']),
			UpdatePost: function(){
				let post_v = this.new_post;
				if(post_v.post_id > 0){
					if(post_v.img.length > 5){
						if(post_v.cat_id > 0){
							let done_ = MainBase.updatePost(post_v);
							done_.then(response=>{
								if(response.code == 200){
									MainBase.alert("success", response.message);
									MainBase.scrollTo("top");
								}
								if(response.code == 400){
									MainBase.alert("error", response.message);
									MainBase.scrollTo("top");
								}
							});
						}else{
							MainBase.alert("error", "Please select a category. Post must belong to a category");
						}
					}else{
						MainBase.alert("info", "You need to provide a valid image");
					}
				}else{
					MainBase.alert("info", "Please Select a Post to edit first");
				}
				//alert("Yea, i want to create post");
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
		}
	}
</style>

