<template>
	<div class="editrole">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 box1">
					<div class="row">
                        <div class="col s12">
                            <h4><span class="ti ti-pencil"></span> Edit Role</h4>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter Role Name" id="role_name" v-model="edit_role.role_title" type="text" class="validate"/>
                            <label for="role_name" class="active">Role Name</label>
                        </div>
                        <div class="col s12">
                            <select  class="browser-default" type="text" name="perms" v-model="edit_role.role_permission_id">
                                <option value="0" selected="selected" >-- No Permissions --</option>
                                <option v-bind:key="perm.id" v-for="perm in upermissions" :value="perm.id">{{perm.title}}</option>
                            </select>
                        </div>
                        <div class="col s12 center">
                            <button class="btn" v-on:click.prevent="UpdateRole">Update Role</button>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';
	export default {
		name: "editrole",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
                app_name: this.$appName,
                edit_role:{
                    role_id: "",
					role_title: "",
					role_permission: "",
					role_permission_id: ""
				},
				upermissions: ""
			};
        },
        computed: {
			...mapGetters({ edit_data: 'EDIT_DATA_G'}),
        },
        created: function(){
			if(MainBase.adminLoggedIn()){
				let dp_data = JSON.parse(localStorage.getItem('edit_data'));
				if(dp_data){
					this.updateEditData_A(dp_data);
					this.edit_role.role_id = this.edit_data.role_id;
					this.edit_role.role_title = this.edit_data.role_title;
                    this.edit_role.role_permission = this.edit_data.role_permission;
                    this.edit_role.role_permission_id = this.edit_data.role_permission_id;
				}else{
					this.$router.push('mydashboard');
				}
			}else{
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}
		},
		mounted: function(){
			M.AutoInit();
			
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);

			let done_ = MainBase.getPermissions();
			done_.then(response=>{
				if(response.code == 200){
					this.upermissions = response.data.perms;
				}
				//MainBase.myConsole("this is your parent categories", response);
				//return response.data;
			});
		},
		methods: {
            ...mapActions(['logoutUser_A']),
			...mapActions(['updateEditData_A']),
			UpdateRole: function(){
				let sendd = this.edit_role;
				let done_ = MainBase.updateRole(sendd);
				done_.then(response =>{
					let r_data = response;
					if(r_data.code == 200){
						MainBase.alert("success", r_data.message);
					}

					if(r_data.code == 400){
						MainBase.alert("error", r_data.message);
					}
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
		}
	}
</style>