<template>
	<div class="home">
		<MainMenu/>
		<div class="container">
			<div class="">
				<img alt="Vue logo" src="@/assets/solunotion_logo.png" />
			</div>
			<div class="">
				Excellence Matching Affordability
			</div>
			<div class="row">
				<div class="col s8 box2">
					<h2>WE ARE HERE TO PROVIDE SOLUTIONS</h2>
					<p>We carryout the Business of Providing General Services to Clients. Hit <a href="#/ourwork" v-on:click.prevent="OurWork">Our Work</a> Option to see selected projects.</p>
				</div>
				<div class="col s4 box3">
				&nbsp;
				</div>
			</div>
			<div class="row">
				<div class="col s2 m6 box4">
					&nbsp;
				</div>
				<div class="col s10 m6 box5">
					<h2>SERVICES</h2>
					<p>
						Web Application Design 
						<span class="dimacator">|</span>
						Corporate Web Design <span class="dimacator">|</span>
						Company & Business Branding <span class="dimacator">|</span>
						Social Media Management <span class="dimacator">|</span>
						UI Optimization <span class="dimacator">|</span>
						Mobile App Development <span class="dimacator">|</span>
						Search Engine Optimization <span class="dimacator">|</span>
						Advertisement <span class="dimacator">|</span>
						Photography <span class="dimacator">|</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 box6">
					<h2>RECENT WORK</h2>
					<p>
						With our vast experience in branding, 
						web design and development,
						we collaborate with startups and established brands helping them
						increase their impact and value. 
					</p>
				</div>
			</div>
			<div v-show="doc_ready">
				<div class="row">
					<div class="col s12 m4" v-for="(project, index) in recent_projects" :key="index">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" :src="base_img_url + project.post_img">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">
									{{ project.post_title}} <span class="ti ti-more right activator"></span>
								</span>
							</div>
							<div class="card-reveal">
								<span class="card-title text-darken-4">
									<i class="ti ti-close right"></i>
									<i class="ti ti-folder"></i> {{project.post_category}}
								</span>
								<hr/>
								<p>
									<span v-html="project.post_desc"></span>
								</p>
								<a href="#/ourwork" v-on:click.prevent="OurWork">See more..</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12">
						<button class="btn" v-on:click.prevent="OurWork"> See More Works</button>
					</div>
				</div>
			</div>
			<div class="row" v-show="!doc_ready">
				<div class="col s12 m12">{{this.$loadingText}}</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import MainBase from '@/services/controller/MainBase.js';

	export default {
		name: "home",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				image_id: "",
				base_img_url: "",
				recent_projects: "",
				doc_ready: false
			};
		},
		created: function(){
			var r_back = MainBase.getHomePg();
			r_back.then(response => {
				if(response.code == 200){
					this.recent_projects = response.data.works;
					this.base_img_url = response.data.base_img_url;
					this.doc_ready = true;
					//MainBase.scrollTo("top");
				}else{
					this.doc_ready = false;
				}
			});
		},
		mounted: function(){
			M.AutoInit();
			MainBase.scrollTo("top");
		
		},
		methods: {
			OurWork: function(){
				this.$router.push('ourwork');
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		padding-bottom: 10px;
		.card{
			text-align: left;
			.card-image{
				max-height: 250px;
				min-height: 250px;
				height: 100%;

				img{
					min-height: 250px;
				}
			}
			.card-reveal{
				background-color: darken($primary-color, 20%);
				color: #ddd;
				span, p{
					font-size: 15px;
				}
			}
			.card-title{
				font-size: 18px;
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
		}
		.box2{
			text-align: left;
			h2{
				font-weight: bold;
				color: $secondary-color;
			}
		}
		.box3{
			text-align: left;
			h2{
				font-size: 150px;
			}
		}

		.box4{
			text-align: right;
			h2{
			font-weight: bold;
			}
		}

		.box5{
			text-align: right;
		}

		.box6{
			text-align: left;
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
	}
</style>