<template>
	<div class="login">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s6">
				&nbsp;
				</div>
				<div class="col s6 box1">
					<div class="row">
                        <div class="col s12">
                            <h2>Loginmmm</h2>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter Email, Phone or Username" v-model="uname" id="uname" type="text" class="validate">
                            <label for="uname" class="active">Usernmae, Email or Phone</label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter your password" v-model="pword" id="pword" type="password" class="validate">
                            <label for="pword" class="active">Password</label>
                        </div>
						<div class="col s12 center">
							<button class="btn btn-large" v-on:click.prevent="ProceedLogin">
								Login
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import MainBase from "@/services/controller/MainBase.js";

	export default {
		name: "login",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				uname:'',
				pword: ''
			};
		},
		mounted: function(){
			M.AutoInit();
			
		},
		methods: {
			ProceedLogin: function(){
				//let response = MainBase.guestLogin();
				console.log("kkk");
			}	
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
			button{
				width: 100%;
			}
		}
	}
</style>