<template>
	<div class="myadmin">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 m6">
				&nbsp;
				</div>
				<div class="col s12 m6 box1">
					<div class="row">
                        <div class="col s12">
                            <h2><span class="ti ti-user"></span> Login</h2>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter Email, Phone or Username" v-model="uname" id="uname" type="text" class="validate">
                            <label for="uname" class="active">Email or Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter your password" v-model="pword" id="pword" type="password" class="validate">
                            <label for="pword" class="active">Password</label>
                        </div>
						<div class="col s12 center">
							<button class="btn btn-large" v-on:click.prevent="ProceedLogin">
								Login
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import MainBase from "@/services/controller/MainBase.js";
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "myadmin",
		components: {
			MainMenu, MainFooter
		},
		computed: {
			...mapGetters({ app_name: 'APP_NAME'}),
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		data: function(){
			return{
				uname:'',
				pword: ''
			};
		},
		created: function(){
			if(MainBase.adminLoggedIn()){
				this.$router.push('mydashboard');
			}
		},
		mounted: function(){
			M.AutoInit();
			MainBase.scrollTo("top");
		},
		methods: {
			...mapActions(['updateProcessData_A']),
			ProceedLogin: function(){
                if(this.uname.length > 4){
                    if(this.pword.length > 5){
                        //MainBase.myConsole("yes we want to login", "yes");
                        let send_data = {
                            uname: this.uname,
                            pword: this.pword
                        }
                        let r_back = MainBase.adminLogin(send_data)
                        r_back.then(response => {
                            if(response.code == 200){
								//MainBase.alert("success", response.message);
								this.updateProcessData_A(response).then(data =>{
									this.$router.push("mydashboard");
								});
								//MainBase.setSessionItem("process_data", JSON.stringify(process));
								//MainBase.myConsole("our login data", response);
								//MainBase.scrollTo("top");
                            }else{
                                MainBase.alert("error", response.message);
                            }
                        });

                    }else{
                        MainBase.alert("info", "Password too short, minimum password is 6 char");
                    }
                }else{
                    MainBase.alert("info", "Please provide a valid username or email");
                }
			}	
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
			button{
				width: 100%;
			}
		}
	}
</style>