<template>
	<div class="mydashboard">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12">
					<label>
						<h4><span class="ti ti-dashboard"></span> Dashboard</h4>
					</label>
				</div>
			</div>
			<div class="row">
                <div class="col s12 m4">
                	<div class="card">
						<div class="card-content">
							<div class="card-title">
								<h5>Posts</h5>
							</div>
							<div class="">
								<h2>{{stats.posts}}</h2>
							</div>
							<div class="row">
								<div class="col s6 m6">
									<a href="#/allposts" v-on:click.prevent="ViewPosts">
										View
									</a>
								</div>
								<div class="col s6 m6">
									<a href="#/newpost" v-on:click.prevent="NewPost">
										Add New
									</a>
								</div>
							</div>
						</div>
                	</div>
                </div>
				<div class="col s12 m4">
                	<div class="card">
						<div class="card-content">
							<div class="card-title">
								<h5>Categories</h5>
							</div>
							<div class="">
								<h2>{{stats.categories}}</h2>
							</div>
							<div class="row">
								<div class="col s6 m6">
									<a href="#" v-on:click.prevent="ViewServices">
										View
									</a>
								</div>
								<div class="col s6 m6">
									Add New
								</div>
							</div>
						</div>
                	</div>
                </div>
				<div class="col s12 m4">
                	<div class="card">
						<div class="card-content">
							<div class="card-title">
								<h5>Users</h5>
							</div>
							<div class="">
								<h2>{{stats.users}}</h2>
							</div>
							<div class="row">
								<div class="col s6 m6">
									<a href="#" v-on:click.prevent="ViewUsers">
										View
									</a>
								</div>
								<div class="col s6 m6">
									Add New
								</div>
							</div>
						</div>
                	</div>
                </div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import MainBase from "@/services/controller/MainBase.js";
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "mydashboard",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				stats: {
					posts: "",
					categories: "",
					users: ""
				}
			};
		},
		computed: {
			...mapGetters({ app_name: 'APP_NAME'}),
			...mapGetters({ process_d: 'PROCESS_DATA_G'})			
		},
		created: function(){
			
		},
		mounted: function(){
			M.AutoInit();
			MainBase.scrollTo("top");
			if(MainBase.adminLoggedIn()){
				
				var p_d = this.process_d;
				let send_data = {
					user_d: p_d.data.user
				}
				
				let r_back = MainBase.dashboardStat(send_data)
				r_back.then(response => {
					if(response.code == 200){
						this.stats.posts = response.data.post_count;
						this.stats.categories = response.data.cat_count;
						this.stats.users = response.data.user_count;
					}
				});
			}else{
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}
		},
		methods:{
			...mapActions(['logoutUser_A']),
			ViewServices: function(){
				this.$router.push('searchbyservices');
			},

			ViewUsers: function(){
				this.$router.push('viewusers');
			},

			ViewWorks: function(){
				this.$router.push('ourwork');
			},

			ViewPosts: function(){
				this.$router.push('allposts');
			},
			NewPost: function(){
				this.$router.push('newpost');
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	.container{
		min-height: 400px;
		height: 100%;

		h2{
			color: $primary-color;
		}

        img{
            max-height: 350px;
		    height: auto;
            max-width: 300px;
            width: 100%;
        }
		.card{
			.card-reveal{
				background-color: lighten($primary-color, 50%)
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
		}
		.box2{
            margin-bottom: 0px;
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
                //margin: 0px;
			}
		}
		.box3{
			text-align: left;
			h2{
			font-size: 150px;
			}
		}

		.box4{
			text-align: left;
			h2{
			font-weight: bold;
			}
            p{
                margin: 0px;
            }
		}

		.box5{
			text-align: right;
		}

		.box6{
			text-align: left;
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
	}
</style>