<template>
	<div class="newpost">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 box1">
					<div class="row">
                        <div class="col s12">
                            <h4><span class="ti ti-plus"></span> Add New Post</h4>
                        </div>
						<div class="input-field col s12">
                            <input placeholder="Post Title" id="p_title" type="text" class="validate" v-model="new_post.title"/>
                            <label for="p_title" class="active">Post Title (optional)</label>
                        </div>
                        <div class="input-field col s12">
							<label class="active">Description (optional)</label>
							<ckeditor :editor="editor" v-model="new_post.desc" :config="editorConfig"></ckeditor>
                        </div>	
                        <div class="input-field col s12">
                            <input placeholder="Enter Image URL" id="p_img_url" type="text" class="validate" v-model="new_post.img"/>
                            <label for="p_img_url" class="active">Image URL (provide Google Drive image ID)</label>
                        </div>
                        <div class="input-field col s12">
							<select  class="browser-default" id="p_cat" type="text" name="parent_cat" v-model="new_post.cat_id">
								<option value="" selected="selected" >-- Choose Category --</option>
								<option value="">None</option>
								<option v-bind:key="parentcat.id" v-for="parentcat in parent_cat" :value="parentcat.id">{{parentcat.title}}</option>>
                            </select>
                        </div>
						<div class="col s12">
							<button class="btn btn-large right" v-on:click="CreatePost">
								Create Post
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	import CKEditor from '@ckeditor/ckeditor5-vue';    
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "newpost",
		components: {
			MainMenu, MainFooter, ckeditor: CKEditor.component
		},
		data: function(){
			return{
				app_name: this.$appName,
				parent_cat: "",
				new_post: {
					title: "",
					desc: "",
					img: "",
					cat_id: ""
				},
				editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                    //toolbar: [ 'bold', 'italic', '|', 'link' ]
                },
			};
		},
		created: function(){
			if(!(MainBase.adminLoggedIn())){
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}
		},
		mounted: function(){
			M.AutoInit();
			MainBase.scrollTo("top");

			let done_ = MainBase.getParentCategories();
			done_.then(response=>{
				if(response.code == 200){
					this.parent_cat = response.data.cat;
				}
				//MainBase.myConsole("this is your parent categories", response);
				//return response.data;
			});
		},
		methods: {
			...mapActions(['logoutUser_A']),
			CreatePost: function(){
				let post_v = this.new_post;
				if(post_v.img.length > 5){
					if(post_v.cat_id > 0){
						console.log("selected data", post_v);
						let done_ = MainBase.createPost(post_v);
						done_.then(response=>{
							if(response.code == 200){
								MainBase.alert("success", response.message);
								MainBase.scrollTo("top");
								let objj = this.new_post;
								for (const key in objj) {
									if (objj.hasOwnProperty(key)) {
										objj[key] = "";		
									}
								}
							}
						});
					}else{
						console.log("my selected data", post_v);
						MainBase.alert("info", "You need to select a category");
					}
				}else{
					MainBase.alert("info", "You need to provide a valid image");
				}
				//alert("Yea, i want to create post");
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
		}
	}
</style>

