<template>
	<div class="permissions">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12">
					<label>
						<h4><i class="ti ti-key"></i> Permissions</h4>
					</label>
				</div>
				<div class="col s12 table_row">
					<table class="highlight striped">
						<thead>
						<tr>
							<th>Title</th>
							<th>
								Description
							</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(perm, index) in perms" :key="index">
							<td>{{ perm.title}}</td>
							<td v-html="perm.desc"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "permissions",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				perms: ""
			};
		},
		created: function(){
			if(!(MainBase.adminLoggedIn())){
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}else{
				this.getPerms();
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);

			
			let m_elem = document.querySelectorAll('.modal');
			M.Modal.init(m_elem, {dismissible: false})
		},
		methods: {
			...mapActions(['logoutUser_A']),
			getPerms: function(){
				let r_back = MainBase.getPermissions();
				r_back.then(response => {
					if(response.code == 200){
						this.perms = response.data.perms;
					}
					
					if(response.code == 400){
						MainBase.alert("error", response.message);
					}
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		text-align: left;
		.card{
			.card-image{
				max-height: 250px;
				height: 100%;
			}
			.card-reveal{
				background-color: lighten($primary-color, 50%)
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
		}
		.box2{
			text-align: left;
			h2{
			font-weight: bold;
			color: $secondary-color;
			}
		}
		.box3{
			text-align: left;
			h2{
			font-size: 150px;
			}
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
		.post_img{
            max-width: 100px;
            width: 100%;
            height: 100px;
        }
		.collapsible-header{
            h6{
                font-weight: bold;
				color: $primary-color;
            }
        }
	}
</style>

