<template>
	<div class="services">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12 m6 box2">
					<h2>SERVICES</h2>
					<p>
                        Services we provide
                    </p>
				</div>
				<div class="col s12  m2 box3 service_box">
					<h6><i class="ti ti-link"></i> Web Application Design </h6>
					<a href="#">
                        <i class="ti ti-pencil"></i> Edit
                    </a> &nbsp; | &nbsp;
					<a href="#">
                        <i class="ti ti-trash"></i> Delete
                    </a>
				</div>
				<div class="col s12 m2 box3 service_box">
					<h6><i class="ti ti-link"></i> UI/UX Design </h6>
					<a href="#">
                        <i class="ti ti-pencil"></i> Edit
                    </a> &nbsp; | &nbsp;
					<a href="#">
                        <i class="ti ti-trash"></i> Delete
                    </a>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "services",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
			};
		},
		mounted: function(){
			M.AutoInit();
			
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		.card{
			.card-image{
				max-height: 250px;
				height: 100%;
			}
			.card-reveal{
				background-color: lighten($primary-color, 50%)
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
		}
		.box2{
			text-align: left;
			h2{
			font-weight: bold;
			color: $secondary-color;
			}
		}
		.box3{
			//background-color: $primary-color;
			color: $primary-color;
			text-align: left;
			h6{
				font-weight: bold;
			
			}
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
		.post_img{
            max-width: 100px;
            width: 100%;
            height: 100px;
        }
		.collapsible-header{
            h6{
                font-weight: bold;
				color: $primary-color;
            }
        }
	}
</style>

