<template>
	<div class="settings">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s6">
				&nbsp;
				</div>
				<div class="col s6 box1">
					<div class="row">
                        <div class="col s12">
                            <h2>Settings</h2>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter Business Name" id="bus_name" v-model="settings.bus_name" type="text" class="validate"/>
                            <label for="bus_name" class="active">Business Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input class="validate" id="bus_motto"  placeholder="Enter Category Description" v-model="settings.bus_motto"/>
                            <label for="bus_motto" class="active">Business Motto</label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Enter title here" id="bus_why_title" type="text" class="validate" v-model="settings.bus_why_title" />
                            <label for="bus_why_title" class="active">Business Why Title</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" id="bus_why_desc"  placeholder="Enter Category Description" v-model="settings.bus_why_desc"></textarea>
                            <label for="bus_why_title" class="active">Business Why</label>
                        </div>
						<div class="col s12 center">
							<button class="btn btn-large" v-on:click.prevent="Save">
								Save
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "settings",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				settings:{
					bus_name: "",
					bus_motto: "",
					bus_why_title: "",
					bus_why_desc: "",
					//this is a test
				}
			};
		},
		mounted: function(){
			M.AutoInit();
			let done_ = MainBase.getSettings();
			done_.then(response=>{
				if(response.status == "success"){
					if(response.status_code == 400){
                        this.settings = response.data;
						MainBase.myConsole("this is your settings", this.settings);
					}
				}
				//MainBase.myConsole("this is your parent categories", response);
				//return response.data;
			});
		},
		methods: {
			Save: function(){
				if(this.settings.bus_name.length > 3){
					if(this.settings.bus_motto.length > 3){
						if(this.settings.bus_why_title.length > 3){
                            if(this.settings.bus_why_desc.length > 3){
                                let done_ = MainBase.saveSettings(this.settings);
                                done_.then(response =>{
                                    let r_data = response.data;
                                    if(r_data.status == "success"){
                                        if(r_data.status_code == 400){
                                            swal({
                                                title: "Category Created",
                                                text: "Category added successfully",
                                                icon: "success"
                                            });
                                        }
                                    }
                                });
                            }
						}else{
							swal({
								title: "Category Name too short",
								text: "Sorry Name too short",
								icon: "error"
							});
						}
					}else{
						swal({
							title: "Category description too short",
							text: "Sorry description too short",
							icon: "error"
						});	
					}
				}else{
					swal({
						title: "Category name too short",
						text: "Sorry Name too short",
						icon: "error"
					});
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		
		.box1{
			text-align: left;
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
			button{
				width: 100%;
			}
		}
	}
</style>

