<template>
	<div class="viewusers">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12">
					<label>
						<h4><i class="ti ti-user"></i> Users</h4>
					</label>
				</div>
				<div class="col s5 m6">
					<label>Select User Type:</label>
					<select class="browser-default" v-model="selected_urole" v-on:change="GetUsersByRole(selected_urole)">
						<option value="0">-- All Users --</option>
						<option :value="role.role_id" v-for="(role, index) in uroles" :key="index"> {{role.role_title}}</option>
					</select>
				</div>
				<div class="input-field col s7 m6">
					<input placeholder="Search" id="search" type="text" class="validate"/>
					<label for="search" class="active">Search</label>
				</div>
			</div>
			<div v-show="doc_ready">
				<div v-if="av_data.status" class="row">
					<div class="col s12 table_row">
						<table class="highlight striped">
							<thead>
							<tr>
								<th>Name</th>
								<th>
									Role
								</th>
								<th>
									Phone
								</th>
								<th>
									Email
								</th>
								<th>
									<span class="ti ti-settings"></span>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="(user, index) in users" :key="index">
								<td>{{ user.user_fullname}}</td>
								<td>{{ user.user_role_title}}</td>
								<td>{{ user.user_phone}}</td>
								<td>{{ user.user_email}}</td>
								<td>
									<label>
										<a href="#/edituser" class="waves-effect" v-on:click.prevent="EditUser(user)"> Edit</a>
									</label><br/>
									<label>
										<a href="#" class="waves-effect red-text" v-on:click.prevent="DeleteUser(user)"> Delete</a>
									</label>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div v-if="!av_data.status">
					<div class="row">
						<div class="col s12">
							{{av_data.error_msg}}
						</div>
					</div>
				</div>
			</div>
			<div v-show="!doc_ready">
				<div class="row">
					<div class="col s12">
						{{ this.$loadingText }}
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "viewusers",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				users: "",
				selected_urole: "0",
				uroles: "",
				users: "",

				v_page_nos: "1",
				new_v_page_nos: "1",
				pcount: "0",
				last_post: "1",
				last_cat: "0",
				av_data: {
					status: true,
					error_msg: "Sorry no data available"
				},
				doc_ready: false
			};
		},
		created: function(){
			if(!(MainBase.adminLoggedIn())){
				this.logoutUser_A().then(data => {
					this.$router.push('myadmin');
				});
			}else{
				this.getRoles();
				this.getUsers();

			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);

			
			let m_elem = document.querySelectorAll('.modal');
			M.Modal.init(m_elem, {dismissible: false})
		},
		methods: {
			...mapActions(['logoutUser_A']),
			...mapActions(['updateEditData_A']),
			GetUsersByRole: function(s_role){
				let s_data = {
					g_from: this.last_post,
					v_page_nos: this.new_v_page_nos,
					role_id: s_role
				}
				let r_back = MainBase.getUsersByRole(s_data);
				r_back.then(response => {
					if(response.code == 200){
						this.users = response.data.users;
					}
					if(response.code == 400){
						
					}
				});
			},
			getRoles: function(){
				let r_back = MainBase.getRoles();
				r_back.then(response => {
					if(response.code == 200){
						this.uroles = response.data.roles;
					}
					if(response.code == 400){
						
					}
				});
			},
			getUsers: function(){
				let s_data = {
					g_from: this.last_post,
					v_page_nos: this.v_page_nos
				}
				this.doc_ready = false;
				let r_back = MainBase.getUsers(s_data);
				r_back.then(response => {
					if(response.code == 200){
						this.doc_ready = true;
						this.av_data.status = true;
						this.users = response.data.users;
					}
					if(response.code == 400){
						this.doc_ready = true;
						this.av_data.status = false;
						this.av_data.error_msg = response.message;
					}
				});
			},

			EditUser: function(user){
				this.updateEditData_A(user).then(response=>{
					this.$router.push("edituser");
				});
				/* this.edit_user.user_fullname = user.user_fullname;
				this.edit_user.user_phone = user.user_phone;
				this.edit_user.user_role_id = user.user_role_id;
				this.edit_user.user_email = user.user_email;
				this.edit_user.user_id = user.user_id;
				MainBase.openModal("editusermodal"); */
			},
			CloseModal: function(modal){
				MainBase.closeModal(modal);
			},
			UpdateUser: function(){
				let sendd = this.edit_user;
				let done_ = MainBase.updateUser(sendd);
				done_.then(response =>{
					let r_data = response;
					if(r_data.code == 200){
						MainBase.alert("success", r_data.message);
						this.getUsers();
					}

					if(r_data.code == 400){
						MainBase.alert("error", r_data.message);
					}
				});
			},
			DeleteUser: function(user){
				swal({
					title: "Are you sure ?",
					text: "Deleting user means you won't be able to see this user again, are you sure you want to continue with the delete ?", 
					icon: "info",
					buttons: true,
					buttons: ['No', 'Yes Delete User'],
					dangerMode: true
				})
				.then((willDelete) => {
					if (willDelete) {
						let ddata = user;
						let done_ = MainBase.deleteUser(ddata);
						done_.then(response=>{
							if(response.code == 200){
								MainBase.alert("success", response.message);
								this.getUsers();
							}

							if(response.code == 400){
								MainBase.alert("error", response.message);
							}
							//MainBase.myConsole("this is your parent categories", response);
							//return response.data;
						});
					} else {
						this.selected_action = "0"; //swal("Your imaginary file is safe!");
					}
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	
	.container{

		min-height: 400px;
		height: 100%;
		text-align: left;
		.card{
			.card-image{
				max-height: 250px;
				height: 100%;
			}
			.card-reveal{
				background-color: lighten($primary-color, 50%)
			}
		}
		color: $secondary-color;
		.dimacator{
			font-weight: bold;
		}
		p{
			font-size: 20px;
		}
		.box2{
			text-align: left;
			h2{
			font-weight: bold;
			color: $secondary-color;
			}
		}
		.box3{
			text-align: left;
			h2{
			font-size: 150px;
			}
		}

		margin-top: 20px;
		img{
			max-width: 300px;
			width: 100% !important;
		}
		.post_img{
            max-width: 100px;
            width: 100%;
            height: 100px;
        }
		.collapsible-header{
            h6{
                font-weight: bold;
				color: $primary-color;
            }
        }
	}
</style>

