<template>
    <div class="editpost">
        <div id="editpost_modal" class="modal">
            <div class="modal-content">
                <h4>Edit Post</h4>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input placeholder="Enter Post Title" id="p_title" type="text" class="validate"/>
                        <label for="p_title" class="active">Post Title</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input placeholder="Enter Post Description" id="cat_description" type="text" class="validate"/>
                        <label for="cat_description" class="active">Description</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input placeholder="Enter Image URL" id="p_img_url" type="text" class="validate"/>
                        <label for="p_img_url" class="active">Image URL</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <select>
                            <option value="" disabled selected>Choose Category</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Select Category</label>
                    </div>
                </div>
                <div class="col s12 center">
                    <button class="btn btn-large">
                        Update
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">CANCEL</a>
            </div>
        </div>
    </div>
</template>
<script>
import MainBase from "@/services/controller/MainBase.js";

export default {
    name: "editpost",
    data: function(){
        return{
            app_name: this.$appName
        }
    },
    mounted: function(){
        M.AutoInit();
        
    },
    created: function(){

    }
}
</script>

<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";

</style>
