<template>
    <div class="mainfooter">
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Ready to Start a Project ?</h5>
                        <p class="grey-text text-lighten-4">
                            Let's build something awesome together!<br/>
                            send us a mail <a href="mailto:contact@solunotion.com">contact@solunotion.com</a><br/>
                            or say Hi on WhatsApp
                            <a href="https://wa.me/2348180780508" class="whatsapp">
                                click here <span class="ti ti-comment"></span>
                            </a><br/>
                            or Call <a href="tel:+2348180780508">+2348180780508</a>
                            
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h6 class="white-text">Social Media Links</h6>
                        <ul class="links">
                            <li>
                                <a class="grey-text text-lighten-3" href="https://www.facebook.com/SoluNotion/">
                                    <span class="ti ti-facebook ti-large"></span>
                                </a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="https://www.instagram.com/solu_notion">
                                    <span class="ti ti-instagram"></span>
                                </a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="https://www.twitter.com/soluNotion">
                                    <span class="ti ti-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="https://wa.me/2348180780508">
                                    <span class="ti ti-comment"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © {{year}} SoluNotion
                </div>
            </div>
        </footer>
    </div>
</template>
<script>
export default {
    name: "mainfooter",

    data: function(){
        return{
            app_name: this.$appName,
            year: ''
        };
    },
    mounted: function(){
        M.AutoInit();
    },
    created: function(){
        this.year = new Date().getFullYear();
    }
};
</script>
<style lang="scss" scoped>
@import "@/assets/plugins/materialize/sass/materialize.scss";

    .page-footer{

        background-color: lighten($secondary-color, 10%);
        color: $secondary-color !important;

        p{
            font-size: 16px;
            color: #fff;
        }
        .links{
            font-size: 20px;
        }

        .whatsapp{
            color: green;
            background-color: white;
            padding: 5px;
            font-size: 12px;
        }
    }
</style>



